<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycxc.upload.mapper.bas.EntFixTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ycxc.upload.entity.bas.EntFixType">
        <id column="ent_fix_type_id" property="entFixTypeId" />
        <result column="ent_id" property="entId" />
        <result column="vehicle_type_code" property="vehicleTypeCode" />
    </resultMap>

</mapper>
